Retos/services/nodered/flows.json
[
  {
    "id": "7f6a2b1c4d5e8090",
    "type": "tab",
    "label": "Gas IoT — MQTT → InfluxDB",
    "disabled": false,
    "info": "Flujo Reto 2/3: Pub-Sub (MQTT) + persistencia (Influx write API)."
  },
  {
    "id": "7f6a2b1c4d5e8091",
    "type": "mqtt-broker",
    "name": "mosquitto_iot",
    "broker": "mqtt://admin:admin123@mosquitto:1883",
    "port": "",
    "clientid": "nodered_gas",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "7f6a2b1c4d5e8092",
    "type": "mqtt in",
    "z": "7f6a2b1c4d5e8090",
    "name": "casa/gas/#",
    "topic": "casa/gas/#",
    "qos": "1",
    "datatype": "json",
    "broker": "7f6a2b1c4d5e8091",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 160,
    "wires": [["7f6a2b1c4d5e8093"]]
  },
  {
    "id": "7f6a2b1c4d5e8093",
    "type": "function",
    "z": "7f6a2b1c4d5e8090",
    "name": "JSON → línea Influx",
    "func": "const topic = msg.topic || '';\nlet line;\nif (topic.endsWith('/ppm')) {\n    const p = msg.payload;\n    const raw = Number(p.raw);\n    const idx = Number(p.gas_index);\n    const ppm = Number(p.ppm); // compatibilidad con payload antiguo\n    const gasIndex = Number.isNaN(idx) ? (Number.isNaN(ppm) ? NaN : ppm) : idx;\n    if (Number.isNaN(gasIndex)) return null;\n    const safeRaw = Number.isNaN(raw) ? -1 : raw;\n    const sens = String(p.sensor || 'MQ-2').replace(/[ ,=]/g, '_');\n    line = `gas,sensor=${sens} gas_index=${gasIndex},raw=${safeRaw}`;\n} else if (topic.endsWith('/alerta')) {\n    const p = msg.payload;\n    const idx = Number(p.gas_index);\n    const ppm = Number(p.ppm);\n    const gasIndex = Number.isNaN(idx) ? (Number.isNaN(ppm) ? NaN : ppm) : idx;\n    if (Number.isNaN(gasIndex)) return null;\n    const lvl = String(p.level || 'CRITICAL').split(String.fromCharCode(34)).join('');\n    const sens2 = String(p.sensor || 'MQ-2').replace(/[ ,=]/g, '_');\n    line = `gas_alert,sensor=${sens2} gas_index=${gasIndex},level=\"${lvl}\"`;\n} else {\n    return null;\n}\nmsg.method = 'POST';\nmsg.url = 'http://influxdb:8086/api/v2/write?org=iot_gas&bucket=gas_readings&precision=s';\nmsg.headers = {\n    Authorization: 'Token my-super-secret-token-iot-gas',\n    'Content-Type': 'text/plain; charset=utf-8'\n};\nmsg.payload = line;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 160,
    "wires": [["7f6a2b1c4d5e8094"]]
  },
  {
    "id": "7f6a2b1c4d5e8094",
    "type": "http request",
    "z": "7f6a2b1c4d5e8090",
    "name": "Influx write API",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 160,
    "wires": [["7f6a2b1c4d5e8095"], ["7f6a2b1c4d5e8096"]]
  },
  {
    "id": "7f6a2b1c4d5e8095",
    "type": "debug",
    "z": "7f6a2b1c4d5e8090",
    "name": "Influx OK",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 120,
    "wires": []
  },
  {
    "id": "7f6a2b1c4d5e8096",
    "type": "debug",
    "z": "7f6a2b1c4d5e8090",
    "name": "Influx error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "statusVal": "",
    "statusType": "auto",
    "x": 870,
    "y": 200,
    "wires": []
  }
]
